# Expo
.expo/
dist/
web-build/

# Node
node_modules/

# Native builds
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Env files
.env
.env.local
.env.*.local

# OS files
.DS_Store
Thumbs.db
